 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color:#fafafa;
} 
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 50vh;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    animation: section 1.5s ease-in-out;
}
.choix{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.choix h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: #999;
}
img{
    width: 60px;
    height: 60px;
    margin: 20px 0;
}
.bouttons_choix_jeu{
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;

}
button{
    padding: 5px 30px;
    margin-top: 20px;
    border: 2px solid#0876B9;
    background-color:#0876B9;
    color: #fff;
    cursor:pointer ;
    border-radius: 6px;
    transition: 0.5s;
    text-transform: capitalize;
}

button:focus{
    background: #fff;
    color:#0876B9;

}
@media screen and (max-width:430px){
    button{
        padding: 5px 10px;
      
    } 
}
@keyframes section{
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }



